
  
    <div class="jumbotron mt-4">
        <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <p class="my-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id reprehenderit a illum molestias, tempora distinctio deserunt fuga suscipit iure autem blanditiis cum, accusantium labore voluptatibus veritatis hic? Itaque, eum corporis!
        </p>
        <a href="https://www.animeyt.tv" class="btn btn-primary btn-lg">Animeyt</a>
    </div>